[submodule "main/BAS"]
	path = main/BAS
	url = https://github.com/RealTimeLogic/BAS.git
        ignore = dirty
[submodule "main/BAS-Resources"]
	path = main/BAS-Resources
	url = https://github.com/RealTimeLogic/BAS-Resources.git
        ignore = dirty
[submodule "BAS"]
	path = BAS
	url = https://github.com/RealTimeLogic/BAS.git
        ignore = dirty
[submodule "BAS-Resources"]
	path = BAS-Resources
	url = https://github.com/RealTimeLogic/BAS-Resources.git
        ignore = dirty
